@import "../components/variable.css";

.user{
    grid-column: -2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.user i{
    color: white;
}
.user__me,
.user__login{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}